.suggestion{
    margin-top: 30px;
    margin-right: 20px;
}
.suggestion_title{
    color: gray;
    font-weight: bold;
}
.username_left{
    display: flex;
    align-items: center;
}
.username_info{
    display: flex;
    flex-direction: column;
}
.relation{
    color: gray;
    font-size: 12px;
}
.suggestion_usernames{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    flex-direction: row;
}
.follow_button{
    color: #0095f6;
    font-weight: bold;
    background: 0;
    border: 0;
}
.follow_button:hover{
    cursor: pointer;
    color: white;
}
.username{
    font-weight: 600;
    font-size: 14px;
}
.avatar{
    margin-right: 10px;
}





